---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import OpeningHours from '../components/OpeningHours.astro';
import PreorderProductGrid from '../components/react/PreorderProductGrid';
import SaleProductGrid from '../components/react/SaleProductGrid';
---

<Layout>
    <Hero />
    <OpeningHours />
    <div class="main-content">
        <PreorderProductGrid client:load />
        <SaleProductGrid client:load />
    </div>
</Layout>