---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import InfoSection from '../components/InfoSection.astro';
import PreorderList from '../components/react/PreorderList';
import SaleProductGrid from '../components/react/SaleProductGrid';
---

<Layout>
    <Hero />
    <InfoSection />
    <PreorderList client:load />
    <div class="main-content">
        <SaleProductGrid client:load />
    </div>
</Layout>