---
import Layout from '../layouts/Layout.astro';
import ProductGrid from '../components/react/ProductGrid';
---

<Layout>
    <div class="main-content">
        <ProductGrid client:load />
    </div>
</Layout>