---
---
<footer class="bg-surface-footer | w-full h-72 | flex flex-col | justify-center items-center p-4"> 
<h4 class="font-heading text-2xl text-center text-hero pb-4">Nintendopusheren</h4>
<address class="font-heading not-italic text-text-body-alt text-center pb-4">Ydunsgade 4-6, kælderen, 2200 Kbh N </address>
<p class="font-heading text-text-body-alt text-center pb-4">CVR: 35266623</p>
<a class="font-heading text-text-body-alt text-center pb-4" href="tel:+4560571282">Telefonnummer: 60571282</a>
<a class="font-heading text-text-body-alt text-center pb-4" href="mailto:kontakt@nintendopusheren.dk">Mail: kontakt@nintendopusheren.dk</a>
</footer>